
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Poppins',serif;
}

.container{
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

@import "header";
@import "footer";
@import "begin";
@import "network";
@import "future";
@import "sellers";
@import "hotbid";
@import "hotcollections";
@import "discover";
@import "freecrypto";
@import "about";
@import "connect";
@import "questions";
@import "profile";



